<!DOCTYPE html>

<body style="text-align:center">
  <h3>Ready Players?</h3>
  <form action="/names" method="post">
    Player 1: <input type="text" placeholder="Name" name="Player 1">
    Player 2: <input type="text" placeholder="Name" name="Player 2">
    <input type="submit" value="Submit">
  </form>
</body>
